/* INDEX Estilos generales para el maquetado del sitio web */
html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url("/media/img/conference.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
* {
    margin: 0;
    padding: 0;
}

/*NOTE Timer que esconde los componentes aun no cargados hasta que el navegador cague por completo*/
[v-cloak] > * {
    display: none !important;
}

.grid {
    display: grid;
}

/* SECTION Maquetado con Grids para el acomodo del sitio web*/

/* NOTE Maquetado del template. Tiene margenes a los lados y el resto es el contenido del sitio */
.contenedorPrincipal {
    width: 100%;
    height: 100%;
    grid-template: 2.5% 600px 2.5% / 2.5% 95% 2.5%;
}

/* NOTE Maquetado del contenido principal del sitio */
.contenidoPrincipal {
    grid-area: 2/2;
}

/* NOTE Estilo para los titulos de los componentes que se reenderizan */
.titulo{
    font-size: 2vmax;
    grid-area: 1/2;
    justify-items: center;
    align-items: center;
}

.centrado {
    display: grid;
    justify-items: center;
}
.pointer {
    cursor: pointer;
}
.imagen {
    width: 200px;
}


/*SECTION ESTILOS PARA COLOREAR CAMPOS DE LAS VALIDACIONES*/
.successInfo {
    background-color: #f0fff0 !important;
    border: #72c02c 1px solid !important;
}
.dangerInfo {
    background-color: #fff0f0;
    border: #ec7063 1px solid;
}
.successInfo:focus {
    background-color: #f0fff0 !important;
    border: #72c02c 1px solid !important;
}
.dangerInfo:focus {
    background-color: #fff0f0;
    border: #ec7063 1px solid;
}  
/* !SECTION */


/* SECTION Estilos para las tablas de consultas */
.tablaConsultas {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.tablaConsultas td, .tablaConsultas th {padding: 5px;}

.tablaConsultas tr{background-color: #f2f2f2;}

.tablaConsultas tr:hover {background-color: #ddd;}

.tablaConsultas th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

/* !SECTION */

/* !SECTION */

/* !INDEX */