<template>
     <section class="contenedorAltas grid">
        <header class="titulo grid"><h1>Registro de visitantes DR</h1></header>
        <article class="contenidoFormulario grid">
            <h2 class="grid">Nuevo visitante</h2>
            <section class="formularioDatos grid">
                <div class="campoNombre centrado">
                    <label for="nombre" class="pointer">Nombre</label>
                    <input type="text" id="nombre" v-model="nombre" required placeholder="Ejemplo: César Ulises" :class='{"successInfo ": nombreCorrecto, "dangerInfo": nombreIncorrecto}'>
                </div>
                <div class="campoPaterno centrado">
                    <label for="apellidoP" class="pointer">Apellido Paterno</label>
                    <input type="text" id="apellidoP" v-model="apellidoP" required placeholder="Ejemplo: Marín" :class='{"successInfo ": apellidoPCorrecto, "dangerInfo": apellidoPIncorrecto}'>
                </div>
                <div class="campoMaterno centrado">
                    <label for="apellidoM" class="pointer">Apellido Materno</label>
                    <input type="text" id="apellidoM" v-model="apellidoM" required placeholder="Ejemplo: Chávez" :class='{"successInfo ": apellidoMCorrecto, "dangerInfo": apellidoMIncorrecto}'>
                </div>
                <div class="campoFoto centrado">
                    <label for="foto" class="pointer">Foto</label>
                    <input type="file" id="foto" accept="image/*">
                </div>
                <div class="campoMotivo centrado">
                    <label for="motivo" class="pointer">Motivo</label>
                    <textarea id="motivo" cols="30" rows="10" v-model="motivo" required placeholder="Ejemplo: Entrevista con Selma Dominguez a las 11 am" :class='{"successInfo ": motivoCorrecto, "dangerInfo": motivoIncorrecto}'></textarea>
                </div>
                <button @click="validarDatos()" class="botonFormulario grid pointer">Registrar</button>
                <div class="regresarMenu grid">
                    <img src="/media/img/next.png" alt="Boton flecha" @click="regresarMenu()" class="pointer">
                    <label>Regresar</label>
                </div>
            </section>
        </article>
    </section>
</template>

<script> 
// NOTE Se importa el bus que se creo en la instancia principal
import {EventsBus} from '../controlVisitas.js';

export default {
    name: "altas",
    props: [],
    data() {
      return {
        // NOTE Variables para almacenar lo que inserto el usuario en el formulario
        nombre: '',
        apellidoP: '',
        apellidoM: '',
        motivo: '',
        altaNueva: {},

        //NOTE Bandera para validar el formulario antes de hacer la peticion HTTP
        accesoPeticion: false,

        //NOTE Variables para las clases dinamicas de los inputs
        nombreCorrecto: false,
        nombreIncorrecto: false,
        apellidoPCorrecto: false,
        apellidoPIncorrecto: false,
        apellidoMCorrecto: false,
        apellidoMIncorrecto: false,
        motivoCorrecto: false,
        motivoIncorrecto: false
      };
    },
    watch: {
        // NOTE Validaciones para la escritura del input. Valida que no se puedan escribir caracteres raros.
        // NOTE Se asignan los colores a los inputs de acuerdo a lo que el usuario haya escrito 
        nombre(n, v) {
            if(!/^([a-zA-ZñÑ áéíóúÁÉÍÓÚ])*$/.test(n)) {
                this.nombre = v;
            } else {
                this.coloresInputs();
            }
        },
        apellidoP(n, v) {
            if(!/^([a-zA-Z-ñÑ áéíóúÁÉÍÓÚ,.])*$/.test(n)) {
                this.apellidoP = v;
            } else {
                this.coloresInputs();
            }
        },
        apellidoM(n, v) {
            if(!/^([a-zA-Z-ñÑ áéíóúÁÉÍÓÚ,.])*$/.test(n)) {
                this.apellidoM = v;
            } else {
                this.coloresInputs();
            }
        },
        motivo(n, v) {
            if(!/^([a-zA-Z0-9-ñÑ áéíóúÁÉÍÓÚ,.])*$/.test(n)) {
                this.motivo = v;
            } else {
                this.coloresInputs();
            }
        }
    },
    methods: {
        /* DFUNC Esta funcion regresa al menu principal reenderizando las variables */
        regresarMenu() {
             EventsBus.$emit('vistaMostrada',{
                menu: true,
                altas: false
            });
        }, 
        /* !DFUNC */

        /* DFUNC Esta funcion hace la consulta de información que se muestra en la tabla */
        validarDatos() {
            this.accesoPeticion = (this.nombre == '') ? false : (this.apellidoP == '') ? false : (this.apellidoM == '') ? false : (this.motivo == '') ? false : true;
            if (this.accesoPeticion) {
                this.altaNueva = {
                    nombre: this.nombre,
                    apellidoP: this.apellidoP,
                    apellidoM: this.apellidoM,
                    motivo: this.motivo
                };
                this.insertarDatos(this.altaNueva);
            } else {
                this.coloresInputs();
            }
        },
        /* !DFUNC */
        insertarDatos(nuevoRegistro) {
            axios.post('/nuevaAlta', nuevoRegistro).then((resp) =>{ 
                this.mostrarModalFuncion(true);
                this.limpiarFormulario();
            }).catch((error) => {
                console.log("Error al insertar una nueva visita a la base de datos. El error es: ", error);
                this.mostrarModalFuncion(false);
            });
        },

        /* DFUNC Función que cambia de color el input de acuerdo a lo que escribio el usuario */
        coloresInputs() {
            this.nombreCorrecto = (this.nombre.length > 0) ? true : false;
            this.nombreIncorrecto = (this.nombre.length <= 0) ? true : false;
            this.apellidoPCorrecto = (this.apellidoP.length > 0) ? true : false;
            this.apellidoPIncorrecto = (this.apellidoP.length <= 0) ? true : false;
            this.apellidoMCorrecto = (this.apellidoM.length > 0) ? true : false;
            this.apellidoMIncorrecto = (this.apellidoM.length <= 0) ? true : false;
            this.motivoCorrecto = (this.motivo.length > 0) ? true : false;
            this.motivoIncorrecto = (this.motivo.length <= 0) ? true : false;
        },
        /* !DFUNC */

        /* DFUNC Función inicial que hace el proceso de muestra el modal avisando al usuario que se inserto un dato*/
        mostrarModalFuncion(resultado) {
            /* FIXME No he logrado que estos buses se comuniquen con el componente modal  */
/*             if (resultado) {
                EventsBus.$emit('mensajeModal',{
                    mensaje: "El usuario se agrego correctamente."
                });
            } else {
                EventsBus.$emit('mensajeModal',{
                    mensaje: "Ocurrio un error al momento de agregar el usuario."
                });
            } */
            
            EventsBus.$emit('altasModal',{
                bandera: true,
            });
        },
        /* !DFUNC */

        /* DFUNC Función que limpia el formulario de altas una vez que el usuario inserto un registro */
        limpiarFormulario() {
            this.nombre = this.apellidoP = this.apellidoM = this.motivo = "";
        }
        /* !DFUNC */
    }
}
</script>

<style scoped>
    .contenedorAltas {
        grid-template: 10% 90% / 2.5% 95% 2.5%;
    }
    .contenidoFormulario {
        grid-area: 2/2;
        grid-template: 2.5% 10% 90% 2.5%/2.5% 95% 2.5%;
    }
    .contenidoFormulario h2 {
        grid-area: 2/2;
        justify-content: center;
        font-size: 1.75vmax;
        color: #fff;
    }
    .contenidoFormulario h3 {
        font-size: 1.5vmax;
        color: #f26222;
    }
    .formularioDatos {
        grid-area: 3/2;
        grid-template: repeat(5, 1fr) / repeat(2, 50%);
    }
    .campoNombre {
        grid-area: 1/1;
    }
    .campoPaterno {
        grid-area: 1/2;
    }
    .campoMaterno {
        grid-area: 2/1;
    }
    .campoFoto {
        grid-area: 2/2;
    }
    .campoMotivo {
        grid-area: 3/1/4/3;
    }
    .botonFormulario {
        grid-area: 4/1/5/3;
    }
    .formularioDatos input {
        width: 75%;
        height: 75%;
        text-align: center;
    }
    .formularioDatos textarea {
        width: 50%;
        height: 75%;
        text-align: center;
        align-self: center;
    }
    .formularioDatos label {
        align-self: center;
        color: #f26226;
        font-size: 1.5vmax;
    }
    .formularioDatos button {
        width: 25%;
        height: 50%;
        justify-self: center;
        align-self: center;
    }
    .regresarMenu {
        grid-template: 100% / 20% 80%;
    }
    .regresarMenu img{
        align-self: center;
        justify-self: right;
        transform: rotate(180deg);
    }

</style>