<template>
     <section class="contenedorConsultas grid">
        <header class="titulo grid"><h1>Registro de visitantes DR</h1></header>
        <article class="contenidoConsultas grid">
            <h2 class="grid">Consultas de los visitantes</h2>
            <section class="consultaDatos grid">
                <div>
                    <label for="nombre">Nombre del cliente</label>
                    <input type="text" id="nombre" v-model="nombre" @change="validarCampo()" :class='{"successInfo ": nombreCorrecto, "dangerInfo": nombreIncorrecto}'>
                </div>
                <div class="tablaConsultas">
                    <table>
                        <thead>
                            <tr>
                                <th>Nombre del usuario</th>
                                <th>Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="visitante in visitantes" :key="visitante.id">
                                <td>{{visitante.nombre}} {{visitante.apellidoP}} {{visitante.apellidoM}}</td>
                                <td>{{visitante.created_at}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="regresarMenu grid">
                    <img src="/media/img/next.png" alt="Boton flecha" @click="regresarMenu()" class="pointer">
                    <label>Regresar</label>
                </div>
            </section>
        </article>
    </section>
</template>

<script>
// NOTE Se importa el bus que se creo en la instancia principal
import {EventsBus} from '../controlVisitas.js';

export default {
    name: "consultas",
    props: [],
    data() {
      return {
        nombre: null,

        //NOTE Variables para las clases dinamicas de los inputs
        nombreCorrecto: false,
        nombreIncorrecto: false,
        
        //NOTE Variables para la impresión de la información en las tablas
        visitantes: {},
        motivos: {}
      };
    },
    created() {
        this.consultaInformacion(null);
    },
     watch: {
        // NOTE Validaciones para la escritura del input. Valida que no se puedan escribir caracteres raros.
        // NOTE Se asignan los colores a los inputs de acuerdo a lo que el usuario haya escrito 
        nombre(n, v) {
            if(!/^([a-zA-ZñÑ áéíóúÁÉÍÓÚ])*$/.test(n)) {
                this.nombre = v;
            } else {
                this.coloresInputs();
            }
        }
    },   
    methods: {
        /* DFUNC Esta funcion regresa al menu principal reenderizando las variables */
        regresarMenu() {
             EventsBus.$emit('vistaMostrada',{
                menu: true,
                consultas: false
            });
        }, 
        /* !DFUNC */

        /* DFUNC Esta funcion hace la consulta de información que se muestra en la tabla */
        consultaInformacion(datos) {
            if (datos != null) {
                axios.post('/consultaVisitantes', {datos: datos}).then((resp) =>{ 
                    this.visitantes = resp.data.usuarios;
                    this.motivos = resp.data.motivos;
                }).catch((error) => {
                    console.log("Error al consultar la información con filtro de datos. El error es: ", error);
                });
            } else {
                axios.post('/consultaVisitantes').then((resp) =>{ 
                    this.visitantes = resp.data.usuarios;
                    this.motivos = resp.data.motivos;                
                }).catch((error) => {
                    console.log("Error al consultar la informacion sin filtros. El error es: ", error);
                });
            }
        }, 
        /* !DFUNC */

        /* DFUNC Funcion que valida lo que escribio el usuario para filtrar información */
        validarCampo() {
            if (this.nombre.length > 0) {
                this.consultaInformacion(this.nombre);
            }
        },
        /* !DFUNC */

        /* DFUNC Función que cambia de color el input de acuerdo a lo que escribio el usuario */
        coloresInputs() {
            this.nombreCorrecto = (this.nombre.length > 0) ? true : false;
            this.nombreIncorrecto = (this.nombre.length <= 0) ? true : false;
        }
        /* !DFUNC */
    }
}
</script>

<style scoped>
    .contenedorConsultas {
        grid-template: 10% 90% / 2.5% 95% 2.5%;
    }
    .contenidoConsultas {
        grid-area: 2/2;
        grid-template: 2.5% 10% 90% 2.5%/2.5% 95% 2.5%;
    }
    .tablaConsultas {
        overflow: scroll;
        display: grid;
    }
    .contenidoConsultas h2 {
        grid-area: 2/2;
        justify-content: center;
        font-size: 1.75vmax;
        color: #fff;
    }
    .consultaDatos {
        grid-area: 3/2;
        grid-template: 10% 80% 10% / 100%;
    }
    .consultaDatos label {
        align-self: center;
        color: #f26226;
        font-size: 1.5vmax;
    }

    .regresarMenu {
        grid-template: 100% / 20% 80%;
    }
    .regresarMenu img{
        align-self: center;
        justify-self: right;
        transform: rotate(180deg);
    }
</style>