<template>
    <section class="contenedorMenu grid">
        <header class="titulo grid"><h1>Registro de visitantes DR</h1></header>
        <article class="enlaces grid">
            <h2 class="grid">Menú de operaciones</h2>
            <div class="altaVisitante centrado">
                <h3 @click="altaVisitante()" class="pointer">Alta de visitante</h3>
                <img src="/media/img/altas.png" alt="Imagen de alta visitante" draggable="false" @click="altaVisitante()" class="pointer imagen">
            </div>
            <div class="consultaVisitante centrado">
                <h3 @click="consultaVisitante()" class="pointer">Consulta de visitantes</h3>
                <img src="/media/img/lupa.png" alt="Imagen de consulta visitante" @click="consultaVisitante()" class="pointer imagen" draggable="false">
            </div>
            <div class="reporteVisitante centrado">
                <h3 @click="reporteVisitante()">Reporte de visitantes</h3>
                <img src="/media/img/pdf.png" alt="Imagen de reporte visitante" @click="reporteVisitante()" class="pointer imagen" draggable="false">
            </div>
        </article>
    </section>
</template>

<script>
// NOTE Se importa el bus que se creo en la instancia principal
import {EventsBus} from '../controlVisitas.js';

export default {
    name: "menu",
    props: [],
    data() {
      return {
        // NOTE Variables para almacenar lo que presiono el usuario
        mostrarMenu: true,
        mostrarAltas: false,
        mostrarConsultas: false,
        mostrarReportes: false,
        mostrarVista: ''
      };
    },
    methods: {
        /* DFUNC Funcion que llama al servicio de rutas para mostrar el componente altas */
        altaVisitante() {
            axios.post('/vistaAltas').then((resp) =>{ 
                this.mostrarVista = resp.data;
                this.mostrarvistaMetodo(this.mostrarVista);
            }).catch((error) => {
                console.log("Error al tratar de ir a la sección de altas. El error es: ", error);
            });      
        },
        /*!DFUNC */
        /* DFUNC Funcion que llama al servicio de rutas para mostrar el componente consultas */
        consultaVisitante() {
            axios.post('/vistaConsultas').then((resp) =>{ 
                this.mostrarVista = resp.data;
                this.mostrarvistaMetodo(this.mostrarVista);
            }).catch((error) => {
                console.log("Error al tratar de ir a la sección de consultas. El error es: ", error);
            });       
        },
        /*!DFUNC */
        /* DFUNC Funcion que llama al servicio de rutas para mostrar el componente reportes */
        reporteVisitante() {
            axios.post('/vistaReportes').then((resp) =>{ 
                this.mostrarVista = resp.data;
                this.mostrarvistaMetodo(this.mostrarVista);
            }).catch((error) => {
                console.log("Error al tratar de ir a la sección de resportes. El error es: ", error);
            });       
        },
        /*!DFUNC */
        /* DFUNC Funcion que cambia el valor de la bandera de acuerdo al parametro que se devuelve del controlador*/
        mostrarvistaMetodo(vista) {
            this.mostrarMenu = (vista == '') ? true : false;
            this.mostrarAltas = (vista == 'altas') ? true : false;
            this.mostrarConsultas = (vista == 'consultas') ? true : false;
            this.mostrarReportes = (vista == 'reportes') ? true : false;
            this.enviarParametrosVista(this.mostrarMenu, this.mostrarAltas, this.mostrarConsultas, this.mostrarReportes);
        },
        /* !DFUNC */
        /* DFUNC Funcion que manda los parametros de la vista que se tiene que reenderizar a la instacia principal  */
        enviarParametrosVista(menu, altas, consultas, reportes) {
            EventsBus.$emit('vistaMostrada',{
                menu: menu,
                altas: altas,
                consultas: consultas,
                reportes: reportes
            });
        }
        /* !DFUNC */
    }
}
</script>

<style scoped>
    .contenedorMenu {
        grid-template: 10% 90% / 2.5% 95% 2.5%;
    }
    .enlaces {
        grid-area: 2/2;
        grid-template: 2.5% 10% 90% 2.5%/2.5% repeat(3, auto) 2.5%;
        align-items: center;
    }
    .enlaces h2 {
        grid-area: 2/2/3/5;
        justify-content: center;
        font-size: 1.75vmax;
        color: #fff;
    }
    .enlaces h3 {
        font-size: 1.5vmax;
        color: #f26222;
    }
    .altaVisitante {
        grid-area: 3/2/4/3;   
    }
    .consultaVisitante {
        grid-area: 3/3/4/4;   
    }
    .reporteVisitante {
        grid-area: 3/4/4/5;   
    }
</style>