<template>
  <div class="modal-backdrop">
    <div class="modal">
      <header class="modal-header">
        <slot name="header">
          <button type="button" class="btn-close" @click="close">x</button>
        </slot>
      </header>
      <section class="modal-body">
        <slot name="body">{{mensajeModal}}</slot>
       </section>
       <footer class="modal-footer">
          <slot name="footer">
            <button type="button" class="btn-green" @click="close">Cerrar</button>
        </slot>
      </footer>
    </div>
  </div>
</template>

<script>
// NOTE Se importa el bus que se creo en la instancia principal
import {EventsBus} from '../controlVisitas.js';

  export default {
    name: 'modal',
    data() {
        return {
            /* NOTE Texto editable que se muestra en el modal y se puede modificar desde otros componentes */
            mensajeModal: "Proceso realizado"
        }
    },
    mounted() {
        this.recibirParametrosModal();
    },
    methods: {
        /* DFUNC Funcion que cierra el modal cuando se presiona el tache o el boton de cerrar del modal */
        close() {
            EventsBus.$emit('close',{
                bandera: false
            });
        },
        /* !DFUNC */
        
        /* DFUNC Funcion que recibe el valor del mensaje que se debe de mostrar en el modal */
        /* NOTE Me falta comunicar con el Fixme de altas */
        recibirParametrosModal() {
            EventsBus.$on('mensajeModal', (data) => {
                this.mensajeModal = data.mensaje;
            });    
        }
        /* !DFUNC */
    },
  };
</script>

<style scoped>
  .modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal {
    background: #FFFFFF;
    box-shadow: 2px 2px 20px 1px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
  }

  .modal-header,
  .modal-footer {
    padding: 15px;
    display: flex;
  }

  .modal-header {
    border-bottom: 1px solid #eeeeee;
    color: #4AAE9B;
    display: grid;
  }

  .modal-footer {
    border-top: 1px solid #eeeeee;
    justify-content: center;
  }

  .modal-body {
    position: relative;
    padding: 20px 10px;
  }

  .btn-close {
    border: none;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    color: #4AAE9B;
    background: transparent;
    justify-self: right;
  }

  .btn-green {
    color: white;
    background: #4AAE9B;
    border: 1px solid #4AAE9B;
    border-radius: 2px;
  }
</style>