<template>
     <section class="contenedorReportes grid">
        <header class="titulo grid"><h1>Registro de visitantes DR</h1></header>
        <article class="contenidoReportes grid">
            <h2 class="grid">Reporte de los visitantes</h2>
            <section class="reportesDatos grid">
                <table>
                    <thead></thead>
                    <tbody></tbody>
                    <tfoot></tfoot>
                </table>
                <div class="regresarMenu grid">
                    <img src="/media/img/next.png" alt="Boton flecha" @click="regresarMenu()" class="pointer">
                    <label>Regresar</label>
                </div>
            </section>
        </article>
    </section>
</template>

<script>
// NOTE Se importa el bus que se creo en la instancia principal
import {EventsBus} from '../controlVisitas.js';

export default {
    name: "consultas",
    props: [],
    data() {
      return {

      };
    },
    created() {

    },
    methods: {
        regresarMenu() {
             EventsBus.$emit('vistaMostrada',{
                menu: true,
                reportes: false
            });
        }, 
    }
}
</script>

<style scoped>
    .contenedorReportes {
        grid-template: 10% 90% / 2.5% 95% 2.5%;
    }
    .contenidoReportes {
        grid-area: 2/2;
        grid-template: 2.5% 10% 90% 2.5%/2.5% 95% 2.5%;
    }
    .contenidoReportes h2 {
        grid-area: 2/2;
        justify-content: center;
        font-size: 1.75vmax;
        color: #fff;
    }
    .reportesDatos {
        grid-area: 3/2;
        grid-template: 90% 10% / 100%;
    }
    .reportesDatos label {
        align-self: center;
        color: #f26226;
        font-size: 1.5vmax;
    }

    .regresarMenu {
        grid-template: 100% / 20% 80%;
    }
    .regresarMenu img{
        align-self: center;
        justify-self: right;
        transform: rotate(180deg);
    }
</style>